{extends file="parent:frontend/index/index.tpl"}

{block name='frontend_index_content'}

    <h1> Hallo ich bin ein Template </h1>

    <!--API Testausgabe Shopware DB-->
    <h2> Ausgabe einer Kategorie "Root"</h2>
    <p> {print_r($apitest['data'][0])} </p>
    <ul>
        {foreach $apitest['data'][0] as $categorie}
            <li>{$categorie}</li>
        {/foreach}
    </ul>

{/block}

{block name='frontend_index_sidebar'}
{/block}

